certifi==2024.8.30
charset-normalizer==3.3.2
cloc==0.2.5
colorama==0.4.6
colored==2.2.4
idna==3.10
mando==0.7.1
numpy==2.1.1
pandas==2.2.2
prettytable==3.11.0
python-dateutil==2.9.0.post0
pytz==2024.2
radon==6.0.1
requests==2.32.3
six==1.16.0
tzdata==2024.1
urllib3==2.2.3
wcwidth==0.2.13
